.login{
    height: 100vh;
}

.link {
     cursor: pointer;;
    }

.link:hover {
     text-decoration: underline
}

.login .box{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 770px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.12);
    display: flex;
    border: 1px solid #3776FF;
}

.login .box .left {
    width: 35%;
     border-radius: 8px 0px 0px 8px;
}
.login .box .left .shade{
    padding: 55px 25px 25px;
    background: #f8f8f8;
    border-radius: 8px 0px 0px 8px;
    position: relative;
    height: 100%;
}

.login .box .left p{
    color: #FFFFFF;
    font-size: 12px;
    margin-top: 10px;
}

.login .box .left .video{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 50px;
}

.login .box .right{
    padding: 55px 80px 90px;
    width: 65%;
}

.login .box .right h2{
    	color: #484848;
    font-size: 24px;
}

.login .box .right p{
    opacity: 0.7;
    color: #484848;
    font-size: 14px;
    margin-top: 10px;
}

.login .box .right form{
    margin-top: 70px;
}

.login .box .right input{
    height: 48px;
    width: 100%;
    border: 1px solid #F2F2F2;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.12);
    padding: 0px 10px 0px 55px;
    color: #484848;
    font-size: 16px;
}

.login .box .right span{
    position: absolute;
    left: 16px;
    top: 11px;
}

.login .box .right .form-group{
    position: relative;
    margin-bottom: 24px;
}

.login .box .right .form-group.pass a{
        position: absolute;
    right: 16px;
    top: 11px;
}

.login .box .right button{
    color: #FFFFFF;
      height: 48px;	width: 220px;	border-radius: 8px;
      background-color: #3776FF;
      box-shadow: 0 4px 16px 0 rgba(0,0,0,0.12);
    border: none;
    margin: 0 auto;
    display: block;
    font-size: 16px;
}

.login .box .right .forgot{
    color: #3776FF;
display: block;
    text-align: center;
    font-size: 14px;
}

.login .social{
    display: flex;
}

.login .social li{
    margin-right: 10px;
}

.login .social li:last-child, .login .pri li:last-child{
    margin-right: 0;
}

.login .pri{
    display: flex;
}

.login .pri a{
    	color: #FFFFFF;
    font-size: 12px;
    }

.login .pri li{
    margin-right: 40px;
}

.login .shade .btm {
    position: absolute;
    bottom: 25px;
    left: 25px;
}

@media (max-width: 991px) {
    .login .box {
        width: 680px;
    }

    .login .box .left .shade {
        padding: 40px 20px 0px;
    }

    .login .shade .btm {
        bottom: 20px;
        left: 20px;
    }
    .login .box .right {
        padding: 40px 60px 70px;
    }
    .login .box {
        width: 90%;
    }
    .addcat {
        width: 580px;
    }
}

@media (max-width: 767px) {
    .login .box .right {
        padding: 30px 20px;
    }

    .login .box {
        width: 90%;
        display: block;
        position: static;
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        margin: 20px auto;
    }
        .login .box .left, .login .box .left .shade {
        width: 100%;
        border-radius: 8px 8px 0px 0px;
    }
        .login .box .left .shade {
        padding: 15px 20px;
    }
        .login .box .left p {
        margin-top: 5px;
    }
        .login .box .left .video, .login .shade .btm {
        position: static;
        }

        .login .box .left .video {
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        margin: 20px auto;
        display: block;
    }
        .m-top-15 {
        margin-top: 10px;
    }
        .login .box .right {
        padding: 20px 20px;
        width: 100%;
    }
        .login .box .right h2 {
        font-size: 21px;
    }
        .login .box .right p {
        font-size: 13px;
        margin-top: 5px;
    }
        .login .box .right form {
        margin-top: 30px;
    }
        .login .box .right form {
        margin-top: 20px;
    }
        .login .box .right input {
        height: 45px;
        padding: 0px 10px 0px 45px;
        font-size: 14px;
    }
        .login .box .right span {
        left: 12px;
        top: 8px;
    }
        .login .box .right .form-group.pass a {
        top: 9px;
    }
        .login .box .right button {
        height: 45px;
        width: 170px;
        font-size: 15px;
    }
        .login {
        height: 100%;
    }
}