<section class="start-dashboard">

    <div class="container-fluid p-0">
        <div class="top-bar">
            <div class="row align-items-center">
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <ul class="d-flex align-items-center">
                        <li><a href="javascript://"><img src="https://via.placeholder.com/150" style="height: 50px;"></a></li>
                        <li><a href="javascript://"><img src="/assets/images/ic_drawe.png" class="pl-4"></a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12">

                    <ul class="navbar nav align-items-center pull-right">
                        <li>
                            <button type="button" class="btn logout-btn" (click)="logout()">
                                <img src="/assets/images/outline.png" class="pr-1">
                                Logout
                            </button>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>